[Desktop Entry]
Name=urxvtc-tabbed
GenericName=Tabbed rxvt Terminal
Exec=urxvtc-tabbed.sh
Terminal=false
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Type=Application
StartupNotify=true