<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
	<item label="txt">
	    <action name="Execute"> <execute>emacs</execute> </action>
	</item>
	<item label="www">
	    <action name="Execute"> <execute>waterfox</execute> </action>
	</item>
	<item label="term">
	    <action name="Execute"> <execute>xterm</execute> </action>
	</item>

	<separator/>
	<menu id="40" label="sys">
	    <item label="obconf">
		<action name="Execute">
		    <execute>obconf</execute>
		</action>
	    </item>
	    <item label="tint2conf">
		<action name="Execute">
		    <execute>tint2conf</execute>
		</action>
	    </item>
	    <item label="settings">
		<action name="Execute">
		    <execute>lxqt-config</execute>
		</action>
	    </item>
	    <item label="reconf">
		<action name="Reconfigure"/>
	    </item>
	    <separator/>
	    <item label="exit">
		<action name="Execute">
		    <execute>lxqt-leave</execute>
		</action>
	    </item>
	</menu>
        <menu id="/Debian" />
    </menu>
</openbox_menu>
